<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3857016580-a1pfhnpfutkdueh8392kp8vtp0nnd948.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3857016580-a1pfhnpfutkdueh8392kp8vtp0nnd948</string>
	<key>API_KEY</key>
	<string>AIzaSyDweWyndduV9pIaqvawTeVQa6ZSCNsXu38</string>
	<key>GCM_SENDER_ID</key>
	<string>3857016580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PEPUL-TECH-PRIVATE-LIMITED.demoFireBase</string>
	<key>PROJECT_ID</key>
	<string>product-98f49</string>
	<key>STORAGE_BUCKET</key>
	<string>product-98f49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3857016580:ios:cc72b452ad8f01faf8d251</string>
</dict>
</plist>